pkgbase = naveen-customization
	pkgdesc = Naveen's Custom Arch: Zen Kernel, Zero-Lag HID, and XFWM4 Priority
	pkgver = 1.1.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = linux-zen
	depends = linux-zen-headers
	depends = solaar
	depends = libinput
	depends = usbutils
	source = 99-logitech-unifying.rules
	source = 99-naveen.preset
	source = naveen-optimizations.sh
	source = xfwm4-priority.service
	sha256sums = SKIP

pkgname = naveen-customization
