[Unit]
Description=Naveen's XFWM4 and Steam Performance Daemon

[Service]
Type=simple
ExecStart=/usr/bin/optimizations.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
