name: Deploy Naveen-Arch Repo

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# This prevents the "Multiple artifacts found" error.
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    
    steps:
      - name: Install system dependencies
        run: pacman -Syu --noconfirm base-devel git sudo

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup build user
        run: |
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          chown -R builder:builder .

      - name: Build naveen-customization
        run: sudo -u builder bash -c "cd PKGBUILDs/naveen-customization && makepkg -sf --noconfirm"

      - name: Update Repository Database
        run: |
          mkdir -p x86_64
          cp PKGBUILDs/naveen-customization/*.pkg.tar.zst x86_64/
          cd x86_64
          repo-add naveen_repo.db.tar.gz *.pkg.tar.zst

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: x86_64/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
